@model Product // Importing the Model

<form method="post" asp-action="Edit">
    <!-- Post Method  -->

    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Product</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div> <!-- Asp Validation Displaying All Errors -->
        <div class="row mb-3">
            <label class="text-primary" asp-for="Title"></label> <!-- Label Displaying The Name From The Model -->
            <input type="text" class="form-control" asp-for="Title" />
            <span asp-validation-for="Title" class="text-danger"></span> <!-- Validation From ServerError -->
        </div>

        <div class="row mb-3">
            <label class="text-primary" asp-for="ISBN"></label>
            <input type="text" class="form-control" asp-for="ISBN" />
            <span asp-validation-for="ISBN" class="text-danger"></span>
        </div>

        <div class="row mb-3">
            <label class="text-primary" asp-for="Price"></label>
            <input type="text" class="form-control" asp-for="Price" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="row mb-3">
            <label class="text-primary" asp-for="Author"></label>
            <input type="text" class="form-control" asp-for="Author" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>

        

        <div class="row mb-3">
            <div class="col col-6 md-col-3">
                <button type="submit" class="btn btn-primary form-control" asp-controller="Product" asp-action="Edit">Edit</button> <!-- Submit Button for the values -->
            </div>

            <!-- asp-Controller Matches the Controller where action matches the action from controller-->
            <div class="col col-6 md-col-3">
                <a class="btn btn-secondary form-control" asp-controller="Product" asp-action="Index">Go Back</a>
            </div>
        </div>
    </div>
</form>

